@import "tailwindcss";

:root{
  --color-green2: #B0DB9C;
  --color-green3: #CAE8BD;
  --color-red1: #921A40;
  --color-red2: #C75B7A;
  --color-yellow1: #fff3cc;
  --color-yellow2: #f6de8d;
  --color-peach1: #ffd1b0;  
  --color-peach2: #ffecdf;
  --color-gray5: #494949;
  --color-gray6: #313131; 
}

body {
  font-family: "HK Grotesk", sans-serif;
}

.advertisement-pagination .swiper-pagination {
  left: 160px !important;
  width: auto !important;
}


.electronic-brands-pagination .swiper-pagination {
  position: relative !important;
  margin-top: 30px !important;
}

.swiper-pagination-bullet-active {
  border-radius: 5px !important; 
  width: 25px !important; 
  transition: width 0.3s; 
}




@theme {
    --color-main-blue: #008ECC;
    --color-blue1: #f3f9fb;
    --color-blue2: #212844;
    --color-blue3: #05abf3;
    --color-blue4: #008ecc; 
    --color-blue5: #2C3454;
    --color-gray1: #f5f5f5;
    --color-gray2: #666;
    --color-gray3: #ededed; 
    
    
    --color-gray4: #222;
    --color-white1: #fff;
    --color-green1: #249b3e;   
}

@utility my-bar {
        content: '';
        position: absolute;
        height: 100%;
        right: 0;
        width: 1px;
        background-color: #666; 
}

@utility my-underline {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -18px;
        left: 0; 
        background-color: #008ECC;
}

@utility my-underline2 {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0px;
        left: 0; 
        background-color: #fff;
}

@utility myEllipse {
  background-image: url('/assets/Kosiv-bg.jpg');
  background-size: cover;
  background-position: center; 
}

     @font-face {
    font-family: 'HK Grotesk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Regular'), url('/fonts/HKGrotesk-Regular.woff') format('woff');
    }

     @font-face {
    font-family: 'HK Grotesk Light';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Light'), url('/fonts/HKGrotesk-Light.woff') format('woff');
    }

     @font-face {
    font-family: 'HK Grotesk Medium';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Medium'), url('/fonts/HKGrotesk-Medium.woff') format('woff');
    }

       @font-face {
    font-family: 'HK Grotesk SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk SemiBold'), url('/fonts/HKGrotesk-SemiBold.woff') format('woff');
    }

      @font-face {
    font-family: 'HK Grotesk Bold';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Bold'), url('/fonts/HKGrotesk-Bold.woff') format('woff');
    }

